<mat-grid-list cols=12 rowHeight=75 *ngIf="oficina">
  <mat-grid-tile colspan=3 rowspan=1>
    <h4 class="nome-oficina">{{oficina.razaoSocial}}</h4>
    <button mat-icon-button matTooltip="Funcionarios" class="botao-relatorios" routerLink="../funcionarios">
      <mat-icon mat-list-icon>face</mat-icon>
    </button>
    <button mat-icon-button class="botao-relatorios" routerLink="../relatorios" disabled>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan=6 rowspan=1></mat-grid-tile>
  <mat-grid-tile colspan=3 rowspan=1>
    <mat-grid-list cols=6 rowHeight=25 style="width: 100%">
      <mat-grid-tile colspan=6 rowspan=1>
        <p class="endereco" style="margin: 0;">
          Bairro: {{oficina.bairro}}
        </p>
      </mat-grid-tile>
      <mat-grid-tile colspan=6 rowspan=1>
        <p class='endereco' style="margin: 0;">
          Endereço: {{oficina.endereco}}
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>

<mat-grid-list cols=12 rowHeight=100>
  <mat-grid-tile colspan=12 rowspan=1>
    <button type="button" (click)="voltar()" class="btn btn-voltar">Voltar</button>
    <h3 class="titulo-relatorio">Relatório</h3>
  </mat-grid-tile>
</mat-grid-list>
  <div class="col-lg-12 table-responsive">
      <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Cliente</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Descrição do Serviço</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Nome do Serviço</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Situação</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Modelo</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Placa</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Tempo gasto</th>
              <th scope="col" class="table-primary" style="background-color: #3f51b5; color: white;">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let relatorio of relatorios" >
              <td scope="row">
                <p *ngIf="relatorio === null || relatorio.Veiculo === null || relatorio.Veiculo.Cliente === null || relatorio.Veiculo.Cliente.nome === null" class="empty-list-message" >Não há cliente para este serviço.</p>
                <p *ngIf="relatorio && relatorio.Veiculo && relatorio.Veiculo.Cliente && relatorio.Veiculo.Cliente.nome"><mat-icon style="color:#3f51b5;"> person_pin</mat-icon> {{relatorio.Veiculo.Cliente.nome}}</p>
              </td>
              <td>
                <p *ngIf="relatorio === null || relatorio.Laudo === null || relatorio.Laudo.descricao === null" class="empty-list-message" >Não há descrição para este serviço.</p>
                <p *ngIf="relatorio && relatorio.Laudo && relatorio.Laudo.descricao">{{relatorio.Laudo.descricao}}</p>
              </td>
              <td>
                <p *ngIf="relatorio === null || relatorio.Servico === null || relatorio.Servico.nomeServico === null" class="empty-list-message" >Não há nome para este serviço.</p>
                <p *ngIf="relatorio && relatorio.Servico && relatorio.Servico.nomeServico">{{relatorio.Servico.nomeServico}}</p>
              </td>
              <td>
                  <p *ngIf="relatorio === null || relatorio.situacao === null" class="empty-list-message" >Não há situação para este serviço.</p>
                  <p *ngIf="relatorio && relatorio.situacao">{{relatorio.situacao}}</p>
              </td>
              <td>
                  <p *ngIf="relatorio === null || relatorio.Veiculo === null || (relatorio.Veiculo.modelo === null || relatorio.Veiculo.ano === null)" class="empty-list-message" >Não há modelo para este veículo.</p>
                  <p *ngIf="relatorio && relatorio.Veiculo && (relatorio.Veiculo.modelo || relatorio.Veiculo.ano === null)">{{relatorio.Veiculo.modelo}} {{relatorio.Veiculo.ano}}</p>
              </td>
              <td>
                  <p *ngIf="relatorio === null || relatorio.Veiculo === null || relatorio.Veiculo.placa === null" class="empty-list-message" >Não há placa para este veículo.</p>
                  <p *ngIf="relatorio && relatorio.Veiculo && relatorio.Veiculo.placa">{{relatorio.Veiculo.placa}}</p>
              </td>
              <td>
                  <p *ngIf="relatorio === null || relatorio.Servico === null || relatorio.Servico.tempoRealizacao === null" class="empty-list-message" >Não há tempo gasto para este serviço.</p>
                  <p *ngIf="relatorio && relatorio.Servico && relatorio.Servico.tempoRealizacao">{{relatorio.Servico.tempoRealizacao}}</p>
              </td>
              <td>
                  <p *ngIf="relatorio === null || relatorio.Servico === null || relatorio.Servico.preco === null" class="empty-list-message" >Não há valor para este serviço.</p>
                  <p *ngIf="relatorio && relatorio.Servico && relatorio.Servico.preco"><b>R$ </b>{{relatorio.Servico.preco}}</p>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <div *ngIf="relatorios && relatorios.length == 0" class="div-empty-list-message" style="margin-top: 20px;">
    <span class="empty-list-message" >Não existem relatorios para esta oficina.</span>
  </div>

