.card-layout {
    margin-top: 20px;
    margin-left: 432px;
    max-width: 500px;
  }
.form-login {
    min-width: 150px;
    max-width: 500px;
  }

.form-full-width {
    width: 100%;
  }

.navbar-expand-sm {
  /*
  background-image: url(../../assets/img/background-revise.jpg);
  */
  margin-left: 20px;
  margin-right: 20px;
  }

