<mat-card *ngIf="listaOficina">
  <mat-card-header>
    <mat-card-title>Oficinas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="center">
    <h5 mat-subheader>Lista de oficinas do sistema:</h5>
    <mat-action-list mat-subheader>
      <mat-list-item *ngFor="let oficina of listaOficina; let lastItem = last;" (click)="verOficina(oficina)">
        <mat-icon mat-list-icon>local_car_wash</mat-icon>
        <h4 mat-line>{{oficina.razaoSocial}}</h4>
        <p mat-line>{{oficina.bairro}}</p>
        <p mat-list-item mat-line>{{oficina.complemento}}</p>
        <mat-divider *ngIf="!lastItem"></mat-divider>
      </mat-list-item>
    </mat-action-list>
  </mat-card-content>
</mat-card>
