.mat-card {
    margin: 20px 20px 0px 20px;
}
.form-full-width {
    width: 100%;
  }

.titulo-lista-oficina {
    color: #003EA5;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 799px;
    text-align: center;
}

.titulo-filtro {
    color: #47525E;
    font-family: Lato;
    font-size: 26px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

.filtro-lista-oficina {
    width: 265px;
    margin-left: 3%;
}

.item-lista {
    margin-bottom: 1%;
    background-color: #FFFFFF;
    border: 1px solid #8492A6;
    border-radius: 5px;
    min-width: 80vh
}
.listagem{
    color: #767676;
    font-family: Lato;
    font-weight: 700;
    margin-bottom: 1%;
}
.listagem-resposta{
    color: #003EA5;;
    font-family: Lato;
    font-weight: 700;
    margin-left: 1%;
}

.botao-voltar{
    text-align: center;
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}