<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <button mat-button routerLink="">Home</button>
      <!-- <button *ngIf="!user" mat-button routerLink="/gestor/00/controlador">Cadastre-se, Gestor</button> -->
      <!-- <button *ngIf="user && user.usuario.tipo === '04'" mat-button routerLink="/oficina/00/controlador">Cadastrar Oficina</button> -->
      <!-- <button *ngIf="!user" mat-button routerLink="/mecanico/00/controlador">Cadastre-se, Mecânico</button> -->
      <button *ngIf="user && user.usuario.tipo === '04'" mat-button routerLink="/mecanico/00/controlador">Cadastre um Mecânico</button>
      <button *ngIf="user && user.usuario.tipo === '04'"  mat-button >Listar Oficinas</button>
      <button *ngIf="user && user.usuario.tipo === '03'" mat-button routerLink="/oficina/01">Oficina</button>
    </ul>
    <ul class="navbar-nav ml-auto">
      <button *ngIf="user && user.usuario.tipo === '03'" mat-button routerLink="/gestor/01">Minha Conta</button>
      <button *ngIf="!user" mat-button routerLink="/login">Entrar</button>
      <button *ngIf="user" mat-button (click)="logoff()">Sair</button>
    </ul>
  </div>
</nav>
<div class="bg-vs">
  <router-outlet></router-outlet>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-beat">
</ngx-spinner>
<ng-snotify class="{{style}}"></ng-snotify>