<mat-card>
  <br><h4>Minha conta</h4><br>
  <mat-card-content *ngIf="gestor" class="center">
    <h4>{{gestor.nome}}</h4>
    <p>CPF: {{gestor.cpf}}</p>
    <p>{{gestor.usuario.email}}</p>
    <p>Oficina: {{gestor.oficina?.razaoSocial}}</p>
    <button *ngIf="myProfile" mat-raised-button color="primary" style="margin-right:10px" (click)="editarConta()">Editar Conta</button>
    <button *ngIf="myProfile" mat-raised-button color="warn"  (click)="deleteCliente()">Deletar Conta</button>
  </mat-card-content>
</mat-card>
