.mat-card {
    margin: 20px 20px 0px 20px;
    background-color: cornflowerblue;
    
}
.form-full-width {
    width: 100%;
  }
  .mat-icon{
    margin: 40px 20px 0px 20px;
    font-size: 120px;
    align-self: center;
  }

  .dados{
    width: 50%;
    background-color: white;
    float: left;
  }

  .avaliacoes{
    width: 50%;
    background-color: white;
    float: left;
  }