<!-- <div class="jumbotron">
  <h2>Oficina Legal</h2>
  <p class="navbar-text" *ngIf="user" >Bem-vindo, {{user.nome}}!</p>
</div> -->
<header class="masthead image text-white text-center" 
  style='margin:0;background: url("../../assets/images/slider.png");background-repeat: no-repeat;background-size: cover;'
>
  <div class="container d-flex align-items-center flex-column">
    <h2 class="centered">OFICINAS CERTIFICADAS</h2>
  </div>
  <!-- <img src='../../assets/images/slider.png' width="100%" > -->
</header>